*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #D4ECDD;
    position: relative;
    height: 300px;
}
.header{
    /* background-color: #95DAC1; */
    padding: 30px;
    position: relative;
    z-index: 1;
}
.greeting{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.fbook{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-top: 10px;
}
.side_image{
    z-index: 999;
    position: absolute;
    top:-100px;
    right:0;
    height: 600px;
}
.wave{
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 0;
}
ul{
    list-style: none;
    display: flex;
    /* margin-top: 10px; */
    margin-top: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
a{
    color:#FFB344;
    text-decoration: none;
    margin-right: 20px;
}

.active{
background: #345B63;
padding: 2px 25px;
border:2px solid #0b5338;
border-radius: 10px;
box-shadow: 1px -2px 50px 8px #7beba6;
}

.search{
    margin-left:10px;

}
.search_blog{
    border-top:none;
    border-left:none;
    border-right: none;
    background: none;
    text-align: center;
    color: #cccccc;
    border-color: #cccccc;
}
.search_blog:focus{
    border-top:none;
    outline: none;
    color: #cccccc;
    border-left:none;
    border-right: none;
    background: none;
    text-align: center;
}
.menu{
    visibility: hidden;
}
@import "compass/css3";

.ico-mglass {
  position:relative;
  left: 20px;
  top:-1px;
  display:inline-block;
  background: none;
  border-radius: 30px;
  height: 6px;
  width: 6px;
  border: 2px solid #cccccc;
}
.ico-mglass:after {
    content: "";
    height: 2px;
    width: 6px;
    background: #cccccc;
    position:absolute;
    top:7px;
    left:5px;
    transform: rotate(45deg);
}
main{
    z-index: 10;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
.card{
    margin: 10px;
    border:4px solid #FFB344;
    padding:15px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.card_img{
    height:190px;
    width: 300px;
    /* opacity: 0.6; */
}
.blur_bg{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.card_heading{
    text-align: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: small;
}

.card_info{
    display: flex;
    color: rgb(172, 171, 171);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 10px;
    font-size: small;
    justify-content: space-between;
}
.btn_center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    border:none;
    background:#FFB344;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 10px;
    color: #345B63;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: small;
}
button.play{
    background:#fff;
    border-radius: 100%;
    position:absolute;
    border: none;
    top:25%;
    left: 45%;
    padding: 10px;
    opacity: 1;
    font-size: 10px;
}
.btn_play{
    position:absolute ;
    z-index: 5;
    top:23%;
    left: 45%;
    border: none;
    padding:10px;
    border-radius: 100%;
}
.btn_pause{
    position:absolute ;
    z-index: 4;
    top:23%;
    left: 45%;
    border: none;
    padding:10px;
    border-radius: 100%;
    visibility: hidden;
}
video{
    border-radius: 5px;
    opacity: 0.8;
}

/* .top_video:hover .btn_pause{
    visibility: visible;
} */
@media screen and (max-width: 1000px) {
    header{
        background-color: #D4ECDD;
        position: relative;
        height: 250px;
    }
    .header{
        /* background-color: #95DAC1; */
        padding: 30px;
        position: relative;
        z-index: 1;
    }
    .greeting{
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        font-size: small;
    }
    .fbook{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        margin-top: 10px;
        font-size: small;
    }
    .side_image{
        z-index: 999;
        position: absolute;
        top:-100px;
        right:0;
        height: 600px;
    }
    .wave{
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 0;
    }
    ul.nav{
        list-style: none;
        display: flex;
        /* margin-top: 10px; */
        margin-top: 40px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }
    a{
        color:#FFB344;
        text-decoration: none;
        margin-right: 20px;
        font-size: small;
    }
    
    .active{
    background: #345B63;
    padding: 2px 25px;
    border:2px solid #0b5338;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px -2px 50px 8px #7beba6;
    }
    
    .search{
        margin-left:10px;
        font-size: small;
    }
    .search_blog{
        border-top:none;
        border-left:none;
        border-right: none;
        font-size: small;
        background: none;
        text-align: center;
        color: #cccccc;
        border-color: #cccccc;
    }
    .search_blog:focus{
        border-top:none;
        font-size: small;
        outline: none;
        color: #cccccc;
        border-left:none;
        border-right: none;
        background: none;
        text-align: center;
    }
    @import "compass/css3";
    
    .ico-mglass {
      position:relative;
      left: 20px;
      top:-1px;
      display:inline-block;
      background: none;
      border-radius: 30px;
      height: 6px;
      font-size: small;
      width: 6px;
      border: 2px solid #cccccc;
    }
    .ico-mglass:after {
        content: "";
        height: 2px;
        width: 6px;
        background: #cccccc;
        position:absolute;
        top:7px;
        font-size: small;
        left:5px;
        transform: rotate(45deg);
    }
    .side_image{
        z-index: 999;
        position: absolute;
        top:-100px;
        right:0;
        height: 500px;
    }
    .card{
        margin: 10px;
        margin-top: 30px;
        border:4px solid #FFB344;
        padding:15px;
        position: relative;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }
   
  }
  @media screen and (max-width: 850px) {
    .card{
        margin: 10px;
        border:4px solid #FFB344;
        padding:15px;
        position: relative;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }
    .side_image{
        z-index: 999;
        position: absolute;
        top:-100px;
        right:0;
        height: 450px;
    }
  }
  @media screen and (max-width: 700px) {
    .card{
        margin: 10px;
        border:4px solid #FFB344;
        padding:15px;
        position: relative;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }
    header{
        background-color: #D4ECDD;
        position: relative;
        height: 200px;
    }
    .side_image{
        z-index: 999;
        position: absolute;
        top:-100px;
        right:0;
        height: 300px;
    }
    .menu{
        visibility: visible;
        position: absolute;
        right: 10px;
        top: 30px;
        z-index: 1000;
        /* margin-top:50px */
        background:#FFF;
        /* margin: 10px; */
        padding: 20px;
        border-radius: 100%;
    }
    a{
        visibility: hidden;
    }
    .search{
        position: absolute;
        left: 10px;
        font-size: small;
    }
.menu:hover ul.nav{
    display: block;
}
  }
  @media screen and (max-width: 600px) {
    header{
        background-color: #D4ECDD;
        position: relative;
        height: 200px;
    }
    .wave{
        top: 130px;
    }
    .side_image{
        z-index: -1;
        position: absolute;
        top:-100px;
        right:0;
        height: 300px;
        /* width:5vw; */
    }

  }
